.create-form {
  max-width: 500px;
  margin: 0px auto;
  padding: 35px 35px 50px 35px;
}

.form-label {
  font-size: 18px;
  font-weight: 600;
}

.heading {
  text-align: center;
  padding-bottom: 15px;
}

.heading p {
  font-size: 25px !important;
  font-weight: 700;
}